

.header-bg{
    background-color: #222;
        
}

/*Animate links nav*/
.navbar-nav a[class*="nav-link"],.navbar-nav a[class*="navbar-brand"]{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(#833fb2, #833fb2);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;


}
a[class*="nav-link"]:hover,a[class*="nav-link"]:focus,a[class*="navbar-brand"]:hover,a[class*="navbar-brand"]:focus{
    background-size: 100% 2px;
}






