
.landing-grid{

  display: flex;
  align-items: top;
  justify-content: top;
  height: 100vh;
  background: #444;
    
}
.landing-grid *{
  position: relative;
}

.landing-grid hr {
  border-top: 3px solid #833fb2;
  width: '100%';
}

.landing-grid .left-side {
  top: 8%;
}
.left-side h2{
  font-family: 'Anton', sans-serif;
  color: white;
  text-align: center;
  font-style: italic;
}

.rigth-side{
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  
}

