
.landing-grid{
  height: 100vh;
  background: #444;
  background-image:url('./../assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: .7;
  position: relative;    
}
/* hr lila
.landing-grid hr {
  border-top: 3px solid #833fb2;
  width: '100%';
}*/


.text-block {
  text-align: center;
  color: white;
  display: block;
  position: absolute;
  top:30%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
 
}
.text-block h2{
  font-family: 'Anton', sans-serif;
  font-style: italic;
}

.text-block p{
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;

}
.carousel-control-prev-icon,.carousel-control-next-icon{
  color: #833fb2 !important;
}





