 .projects-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .projects-tab-pane{
    overflow: auto;
  }


  .nav-tabs a[class*="nav-link"]{
    color:#8c38c9;
    text-align: center;
  }


  @media only screen and (max-width: 600px) {
    .projects-grid{
        flex-direction: column;

    }
  }