.contact-body {
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: scroll visible;
    justify-content: center;
    padding-top: 2em;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    
  }

  .contact-body::-webkit-scrollbar {
      display: none;
  }
  
  .contact-grid {
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: white;
    color: black;
    margin-bottom: 20px;
  }
  
  .contact-grid h2 {
    font-family: 'Anton', sans-serif;
  }
  
  .contact-grid p {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
  }
  
  .contact-grid hr {
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
  }
  
  .list-group-item a{
    color: inherit;
    text-decoration: none;
  }
  
  .list-group-item:hover{
    color: blueviolet;
  }
  
  
  
  @media only screen and (max-width: 360px) {
    .lista{
      width: 100%;
      height: 100%;
      margin-top: 10px;
    }
    .list-group-item span{
     font-size: small ;
  
    }
  
  
  }
  
  @media only screen and (max-width: 455px) {
    .lista{
      width: 100%;
      height: 100%;
      margin-top: 10px;
    }
    .list-group-item span{
     font-size: small ;
  
    }
  
  }
  
    